// @import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$body-bg: #d05a5a;

$theme-colors: (
  "danger": #dc4e4e
);
 
$link-color: #3a3838;

$warning: #f1f0f0;



@import "../node_modules/bootstrap/scss/bootstrap";