@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

$body-bg: #d05a5a;

$theme-colors: (
  "danger": #dc4e4e
);
 
$link-color: #f1eeee;


@import "../node_modules/bootstrap/scss/bootstrap";