@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');


.selected_main {
  color: whitesmoke;
}
.spinWinHeading {
color: whitesmoke;
}

.spinWinButton {
  padding-top: 3em;
}

.points_needed {
  background-color: rgb(194, 193, 193);
  width: 40%;
  height: 10em;
  padding-top: 2em;
  color: black;
  font-size: medium;
  box-shadow: 5px 5px 10px;
}

.total_fam_points {
  background-color: rgb(235, 232, 232);
  width: 42%;
  height: 10em;
  padding-top: 2em;
  color: black;
  font-size: medium;
  box-shadow: 5px 5px 10px;

}

h6 {
 color: rgb(240, 20, 20);
}

body {
  background-color: rgb(240, 81, 81);
  margin: 0;
  font-family:'Short Stack', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: gainsboro;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
