@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

.loginGetBusy {
  padding-top: 3em;
}

.individualCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.mainAwards {
 padding-top: 3em;
}


.familyName {
  font-size: 3em;

}

.FamListTop {
  padding-bottom: 3em;
}

.famList {
  display: flex;
  padding-left: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  justify-content: space-evenly;
  align-items: center; 
  color: whitesmoke;
  
}


.chooseListMain {
margin-top: 3em;
}

.chooseListContainer {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.chooseFamCard {
  display: flex;
  padding-left: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  justify-content: space-evenly;
  align-items: center;
}

.memberDetailAdmin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 3em;
  
}

.avatarSelect {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  justify-content: space-evenly;
  align-items: center;
}

.famMemberForm {
margin-left: 30%;
 width: 30em;
 padding-top: 4em;
}

.form--login {
padding-top: 4em;
}

.bg-white {
  box-shadow: 5px 5px 10px;
}

.loginButton {
  padding-top: 2em;
  margin-left: 5em;
}


.selected_main {
  color: whitesmoke;

}

.spinWinHeading {
color: whitesmoke;
}

.spinWinButton {
  padding-top: 3em;
}

.points_needed {
  background-color: rgb(241, 239, 239);
  width: 50%;
  height: 10em;
  padding-top: 2em;
  color: black;
  font-size: large;
  box-shadow: 5px 5px 10px;
}

.total_fam_points {
  background-color: rgb(7, 211, 0);
  width: 53%;
  height: 10em;
  padding-top: 2em;
  color: black;
  font-size: medium;
  box-shadow: 5px 5px 10px;

}

h6 {
 color: rgb(240, 20, 20);
}

h2 {
  text-shadow: 2px 2px 3px;
}

body {
  background-color: rgb(240, 81, 81);
  margin: 0;
  font-family:'Short Stack', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: gainsboro;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
