@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

h6 {
 color: rgb(240, 20, 20);
}

body {
  background-color: rgb(240, 81, 81);
  margin: 0;
  font-family:'Short Stack', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: gainsboro;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
